---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import RecentPublications from "../components/RecentPublications.astro";
import { Image } from 'astro:assets';
import photoReference from '/public/SkytreeSunset.jpg';

interface Props {
  imagePath: string;
  altText: string;
}

const { imagePath, altText } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full max-w-screen-md mx-auto my-4 dark:bg-neutral-800 dark:text-neutral-300 transition-colors duration-300" >
    <Header />
    <main class="flex flex-col justify-center">
      <div class="px-4 md:px-16 flex flex-col gap-4 md:my-10">
        <h1 class="text-2xl md:text-5xl w-full">👾 Hello!</h1>
        <p class="w-full text-justify text-base md:text-lg">
          I'm Daniel, I like the rain and sometimes go for jogs.<br><br>
          I'm a Cloud Security Engineer in Singapore.<br><br>
          I enjoy exploring new technologies, the threats against these new technologies, and how to secure them.
        </p>
      </div>
      <div class="w-full flex flex-col items-center gap-2.5 px-4 lg:px-0 mt-6">
        <Image src={photoReference} alt="Tokyo Skytree in the skyline during sunset" />
        <p class="italic text-xs text-gray-600 dark:text-neutral-400">
          Current favourite photo - Tokyo Skytree against a sunset
        </p>
      </div>
	  <!-- <RecentPublications /> -->
	      </main>
    <Footer />
  </body>
</html>

